<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Circulate</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.joshdoctors.circulate/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.joshdoctors.circulate</string>
			<key>key</key>
			<string>enableTweak</string>
			<key>label</key>
			<string>Enable Tweak</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.joshdoctors.circulate/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.joshdoctors.circulate</string>
			<key>key</key>
			<string>enable24hr</string>
			<key>label</key>
			<string>Enable 24Hr Clock</string>
			<key>id</key>
			<string>enable24hrswitch</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.joshdoctors.circulate/settingschanged</string>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.joshdoctors.circulate</string>
 			<key>detail</key> 		<string>PSListItemsController</string>
 			<key>key</key> 			<string>theme</string>
 			<key>label</key> 		<string>Theme</string>
 			<key>validTitles</key> <array>
 				<string>Concentric Circles</string>
 				<string>Rising Bars</string>
 				<string>Solar</string>
 				<string>Hex</string>
 			</array>
 			<key>validValues</key>
 			<array>
				<real>0</real>
 				<real>1</real>
 				<real>2</real>
 				<real>3</real>
 			</array>
 			<key>id</key>
			<string>themeList</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SecondsSettingsListController</string>
			<key>icon</key>
			<string>seconds@2x.png</string>
			<key>isController</key>
			<true/>
			<key>key</key>
			<string>SecondsSettings</string>
			<key>label</key>
			<string>Seconds Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>MinutesSettingsListController</string>
			<key>icon</key>
			<string>minutes@2x.png</string>
			<key>isController</key>
			<true/>
			<key>key</key>
			<string>MinutesSettings</string>
			<key>label</key>
			<string>Minutes Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HoursSettingsListController</string>
			<key>icon</key>
			<string>hours@2x.png</string>
			<key>isController</key>
			<true/>
			<key>key</key>
			<string>HoursSettings</string>
			<key>label</key>
			<string>Hours Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>BackgroundSettingsListController</string>
			<key>icon</key>
			<string>backgroundicon@2x.png</string>
			<key>isController</key>
			<true/>
			<key>key</key>
			<string>BackgroundSettings</string>
			<key>label</key>
			<string>Background Options</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.joshdoctors.circulate/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.joshdoctors.circulate</string>
			<key>key</key>
			<string>drawCircle</string>
			<key>label</key>
			<string>Draw Outer Circle</string>
			<key>id</key>
			<string>drawCircleSwitch</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>PFColorCell</string>
            <key>label</key>
            <string>Outer Circle Color</string>
            <key>color_defaults</key>
            <string>com.joshdoctors.circulate</string>
            <key>color_key</key>
            <string>circleBackgroundColor</string>
            <key>title</key>
            <string>Outer Circle Color</string>
            <key>color_fallback</key>
            <string>#ffffff</string>
            <key>usesRGB</key>
            <true/>
            <key>usesAlpha</key>
            <true/>
            <key>color_postNotification</key>
            <string>com.joshdoctors.circulate/settingschanged</string>
        </dict>
		<dict>
            <key>cell</key>             <string>PSEditTextCell</string>
            <key>defaults</key>         <string>com.joshdoctors.circulate</string>
            <key>key</key>              <string>circleRadius</string>
            <key>label</key>            <string>Outer Circle Radius</string>
            <key>PostNotification</key> <string>com.joshdoctors.circulate/settingschanged</string>
        </dict>
        <dict>
            <key>cell</key>             <string>PSButtonCell</string>
            <key>label</key>            <string>Save</string>
            <key>action</key>           <string>save</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>id</key>
			<string>resetSettingsButton</string>
            <key>action</key>
            <string>resetSettings</string>
            <key>label</key>
            <string>Reset settings to default</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>footerText</key>
            <string>Default Outer Circle Radius is 35.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>footerText</key>
            <string>When setting a color, don't forget to change the alpha slider(the slider with the letter 'A').</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>alignment</key>
			<string>center</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@Fewjative</string>
		</dict>
	</array>
	<key>title</key>
	<string>Options</string>
</dict>
</plist>
