<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>PFColorCell</string>
            <key>label</key>
            <string>Minutes Bar Color</string>
            <key>color_defaults</key>
            <string>com.joshdoctors.circulate</string>
            <key>color_key</key>
            <string>minutesColor</string>
            <key>title</key>
            <string>Minutes Bar Color</string>
            <key>color_fallback</key>
            <string>#ffffff</string>
            <key>usesRGB</key>
            <true/>
            <key>usesAlpha</key>
            <true/>
            <key>color_postNotification</key>
            <string>com.joshdoctors.circulate/settingschanged</string>
        </dict>
        <dict>
			<key>PostNotification</key>
			<string>com.joshdoctors.circulate/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.joshdoctors.circulate</string>
			<key>key</key>
			<string>drawGuideM</string>
			<key>label</key>
			<string>Draw Bar Background</string>
		</dict>
        <dict>
		    <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>PFColorCell</string>
            <key>label</key>
            <string>Background Bar Color</string>
            <key>color_defaults</key>
            <string>com.joshdoctors.circulate</string>
            <key>color_key</key>
            <string>minutesBGColor</string>
            <key>title</key>
            <string>Background Bar Color</string>
            <key>color_fallback</key>
            <string>#616161</string>
            <key>usesRGB</key>
            <true/>
            <key>usesAlpha</key>
            <true/>
            <key>color_postNotification</key>
            <string>com.joshdoctors.circulate/settingschanged</string>
        </dict>
	</array>
	<key>title</key>
	<string>Minutes Options</string>
</dict>
</plist>